---
title: Portfolio hive
---


<div class="rowFluid backstretch main"data-source="img/testImage.jpg">
	<%= image_tag 'testImage.jpg', :alt => "backstretch", :class => 'source' %>
	<div class="titleDisc xl">
		<hgroup class="contents">
			<h1>Benoit Rajalu</h1>
			<h2>Front-end developper | UI/UX designer</h2>
		</hgroup>
	</div>
</div>

<div class="rowFluid backstretch secondary">
	<%= image_tag 'serviceBG.jpg', :alt => "backstretch", :class => 'source' %>
	<div class="titleDisc ml">
		<hgroup class="contents">
			<h1>Services</h1>
			<h2>UI/UX | Webdesign | Code</h2>
		</hgroup>
	</div>
</div>

<div class="rowFluid backstretch secondary">
	<%= image_tag 'workBG.jpg', :alt => "backstretch", :class => 'source' %>
	<div class="titleDisc ml">
		<hgroup class="contents">
			<h1>Références</h1>
			<h2>Travaux, publics !</h2>
		</hgroup>
	</div>
</div>

<div class="rowFluid green pad40 mar60">
	<div class="row table-large">
		<div class="large-6 columns">
			<article class="copy white workIntro mobileFeature">
				<a href="references.html" class="return">Tous les projets</a>
				<h2 class="title xxl noMarg">WRAH LLC</h2>
				<h3 class="title xs">- Collectif web</h3>
				<p>Petite équipe web à géométrie variable, WRAH cherchait un site simple et effiicace pour expliquer son activité. Un design “plat”, un site responsive et une rédaction sur-mesure étaient les seuls paramètres solides du brief.</p>
				<p class="credit"><strong>Gestion de projet : </strong> <a href="http://www.wrahllc.com" target="_blank">WRAH LLC</a></p>
				<p class="credit"><strong>Prestation :</strong> Sitemap, wireframes, webdesign, rédaction, intégration responsive</p>
				<a href="#"  target="_blank" class="button">Voir le site</a>
			</article>
		</div>
		<div class="large-6 columns">
			<img src="img/projects/wrah-header.png" alt="WRAH LLC" class="featured"/>
		</div>
	</div>
</div>
<div class="row">
	<div class="large-5 columns">
		<article class="copy">
			<h3>Design</h3>

			<p>L’objectif de ce site n’était pas seulement de présenter clairement l’activité de l’annonceur, mais aussi d’être réalisé en un temps record.</p>

			<p>Avec un brief très court et très peu de ressources, le design final répond à un impératif de fonctionnalité tout en apportant une touche de modernité qui correspond aux préférences esthétiques du client.</p>

			<h3>Responsive</h3>

			<p>Gagner du temps ne devrait jamais vouloir dire sacrifier le confort de l’utilisateur.</p> 

			<p>En utilisant le framework foundation et une ruche maison de blocs HTML / CSS préfaits, ce site bénéficie malgré son brief minimaliste des avantages du responsive webdesign.</p>
		</article>
	</div>
	<div class="large-7 columns">
		<img src="img/projects/wrah-image1.png" alt="" />
	</div>
</div>


<div class="row vertHolder">
	<div class="large-4 medium-6 columns vParent">
	  	<article class="intro xs vChild">
	  		    <div class="centerPiece">
	  		        <h2>Featured</h2>
	  		        <p>Une sélection des dernières livraisons, ou de celles que j'aime montrer</p>
	  		    </div>
	  		    <div class="plus"></div>
	  	</article>
	</div>
	<% data.works.each_with_index do |f, index| %>
		<%	if index < 5 %>
			<div class="large-4 medium-6 columns">
			  	<article class="work vSizer">
			  		    <div class="centerPiece">
			  		        <div class="centralDisc"><a href="#"><img src="img/projects/<%= f["clean"] %>-logo.png" alt="<%= f["title"] %>" /></a></div>
			  		        <a href="#" class="left smallDisc"></a>
			  		        <a href="#" class="right smallDisc"></a>
			  		    </div>
			  		    <div class="illus"><a href="#"><img src="img/projects/<%= f["clean"] %>-back.jpg" alt="<%= f["description"] %>" /></a></div>
			  	</article>
			</div>
		<% end %>
	<% end %>
</div>
<div class="rowFluid">
	<div class="row">
		<div class="large-7 columns large-push-5 columns">
			<article class="intro xl">
				    <div class="centerPiece">
				        <h2>Votre projet</h2>
				        <p>Ajoutons à cette liste un projet dont nous pouvons être fiers !</p>
				        <a class="button offTrigger" data-target="#contactBar" href="#">Contactez-moi</a>
				    </div>
				    <div class="plus"></div>
			</article>
		</div>
	</div>
</div>

<div class="rowFluid pad40">
	<div class="row table-large">
		<div class="large-7 columns">
			<article class="copy rightPad60">
				<h2><span class="dot">UI | UX</span></h2>
				<h3>Connaître l’utilisateur</h3>

				<p>Un beau site, c’est chouette. Un beau site qui répond à vos besoins, c’est même le minimum, non ? Mais la chose ne sert à rien si l’utilisateur ne s’y retrouve pas. L’UX, c’est l’ensemble des stratégies que nous allons entreprendre ensemble, en connaissance de votre métier et des habitudes de vos clients, pour assurer à l’utilisateur l’éxperience qu’il lui faut.</p>

				<h3>L’éxpérience qui marque</h3>

				<p>Donner à votre visiteur ce qu’il attend est une chose, mais rendre la chose agréable et marquante en est une autre. Une bonne UX est une UX qui, bien que basée sur l’empirique, sait générer de l’émotion.Je travaille donc sur les animations, le ton, et l’environnement graphique à donner à votre site pour parvenir à ces objectifs. A ce stade, les maquettes fonctionnelles (wireframes) seront proposées.</p>

				<p class="green">Livrables : Benchmarking, storyboards, wireframes</p>
			</article>
		</div>
		<div class="large-5 columns backstretch service" data-source='img/UX.jpg'>
			
		</div>
	</div>
</div>

<div class="rowFluid pad40">
	<div class="row table-large">
		<div class="large-7 large-push-5 columns">
			<article class="copy leftPad60">
				<h2><span class="dot">Webdesign</span></h2>
				<h3>Forme et fonction</h3>

				<p>Un bon webdesign se  résume pour moi à une notion simple : le design doit, par la forme, faciliter l’accès à la fonction. Mon rôle est de prendre cette recette à coeur afin de vous proposer un produit crédible, réalisé en collaboration avec vous afin de finalement  construire un site à la fois beau et intelligent. Le rêve.</p>

				<h3>L’air du temps...et de demain</h3>

				<p>Toute la saveur d’un bon design repose sur son équilibre entre les modes actuelles, l’anticipation des modes à venir et les préférences esthétiques du client, de l’utilisateur et du designer. Ce n’est pas chose aisée, mais c’est ce qui riend la chose plaisante ! Nous arriverons à trouver le bon équilibre au travers de diverses propositions et discutions afin d’obtenir le résultat qui contentera tout le monde.

				<p class="green">Livrables : Moodboards, maquettes, déclinaisons</p>
			</article>
		</div>
		<div class="large-5 large-pull-7 columns backstretch service" data-source='img/webdesign.jpg'>
			
		</div>
	</div>
</div>

<div class="rowFluid pad40">
	<div class="row table-large">
		<div class="large-7 columns">
			<article class="copy rightPad60">
				<h2><span class="dot">Front-end dév.</span></h2>
				<h3>Tout beau, partout</h3>

				<p>Votre site web n’est pas un caprice. Vous n’êtes pas là pour être branché et dire “ça y est, j’ai le mien”. Votre nouvel outil doit être fonctinnel partout où la cible que vous visez est succeptible d’en avoir besoin. De mon coté, ces nécessités se traduisent par un code HTML5 / CSS3 compatible avec IE8+ et un responsive webdesign irréprochable sur tous les appareils mobiles. Rien de moins ! Coté méthode, j’utilise Compass et je versionne sous git via github.</p>

				<h3>Code et créativité</h3>

				<p>Le développement n’est pas juste une affaire de règles à respecter. L’enrichissement des diverses interactions au travers de jQuery ou d’animation CSS3 apporte à la fois un aspect ludique au site et une réelle plus value créative à l’ensemble du produit. Allier le code et la créativité sera un réel avantage face à vos utilisateurs.</p> 

				<p class="green">Livrables : Site statique responsive compatibles IE8+ (HTML5 / CSS3 / jQuery)</p>
			</article>
		</div>
		<div class="large-5 columns backstretch service" data-source='img/front.jpg'>
			
		</div>
	</div>
</div>

<div class="row pad70">
	<div class="large-8 columns centered">
		<article class="intro">
			<h2 class="sectionTitle xl">Hello !</h2>
			<hr class="separate xl"/>
			<p>Je suis un développeur front-end et webdesigner freelance passionné par le responsive webdesign et jQuery. J'aime aussi le sucre, la photo et les phrases courtes.<p>

			<p>J’ai travaillé sur <a href="#">divers projets</a> en freelance ou en agence. Coté code, j’affectionne les choses lisibles et robustes, ce qui explique peut-être ma préférence pour le design propre et épuré.</p>

			<p>Si travailler avec moi vous tente, je suis actuellement à votre écoute. <br/>N’hésitez pas à me passer un <a href="#" class="offTrigger" data-target="#contactBar">petit coucou.</a></p>
		</article>
	</div>
</div>


<div class="rowFluid gray">
	<div class="row">
		<h2 class="sectionTitle">Services</h2>
		<hr class="separate xs" />
		<div class="medium-4 columns">
			<article class="skillBox">
				<h2 class="title"><span>UI/UX</span></h2>
				<ul>
					<li>Zonings</li>
					<li>Wireframes</li>
					<li>Storyboards</li>
					<li>Design d'interaction</li>
				</ul>
				<a class="button" href="#">En savoir plus</a>
			</article>
		</div>

		<div class="medium-4 columns">
			<article class="skillBox">
				<h2 class="title"><span>Design</span></h2>
				<ul>
					<li>Flat design</li>
					<li>Maquettes .psd</li>
					<li>Intégration de cgartre</li>
					<li>Déclinaisons</li>
				</ul>
				<a class="button" href="#">En savoir plus</a>
			</article>
		</div>

		<div class="medium-4 columns">
			<article class="skillBox">
				<h2 class="title"><span>Code</span></h2>
				<ul>
					<li>HTML5/TWIG</li>
					<li>CSS3 (SASS)</li>
					<li>jQuery / JS</li>
					<li>Responsive design</li>
				</ul>
				<a class="button" href="#">En savoir plus</a>
			</article>
		</div>
	</div>
</div>

<div class="row pad70 vertHolder">
	<h2 class="sectionTitle">Références</h2>
	<hr class="separate xs"/>
	<div class="large-6 columns vParent">
		<article class="copy mobileFeature vChild">
			<h3 class="title xs">Featured:</h3>
			<h2 class="title xxl">WRAH LLC</h2>
			<p>Petite équipe web à géométrie variable, WRAH cherchait un site simple et effiicace pour expliquer son activité. Un design “plat”, un site responsive et une rédaction sur-mesure étaient les seuls paramètres solides du brief.</p>
			<a href="#" class="button">En savoir plus</a> <a class="button" href="#">Toutes mes références</a>
		</article>
	</div>
	<div class="large-6 columns">
		<a href="#"><img src="img/homeFeature.png" alt="WRAH LLC" class="featured vSizer"/></a>
	</div>
</div>

<div class="rowFluid black">
	<div class="row">
		<div class="large-8 columns centered">
			<article class="intro white">
				<h2 class="sectionTitle">A propos</h2>
				<hr class="separate xs"/>
				<p>Mes compétences techniques reposent sur le mélange HTML5 - CSS3 - jQuery. J’ai aussi glâné au fil des expériences des compétences en rédaction et en webdesign.</p>
				<p>Pour un profil plus complet, <a href="#">consultez mon CV !</a></p>
				<a href="#" class="button">A propos</a>
			</article>
		</div>
	</div>
</div>